.caretIcon{
    color: burlywood;
    bottom:0 ;
}

.sliderArrow{
    bottom:0;
}

.sliderLayoutContainer{
    background-color: #040f10;
    border-color: blanchedalmond;
    border-width: 30px;
}